<!DOCTYPE html>
<html>
  <head>
    <title>ThinkingOutLoud</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body>
    <header>
      <div class="header_logo">
        <%if @current_user%>
          <%= link_to("ThinkingOutLoud", "/posts/index") %>
        <%else%>
          <%= link_to("ThinkingOutLoud", "/") %>
        <%end%>
      </div>
      <ul class="header_menus">
        <% if @current_user %>
          <li>
            <%= link_to(@current_user.name, "/users/#{@current_user.id}") %>
          </li>
          <li>
            <%= link_to("/posts/index")do %>
              <span class="fa fa-bars"></span>
            <%end%>
          </li>
          <li>
            <%= link_to("/posts/new")do %>
              <span class="fa fa-edit"></span>
            <%end%>
          </li>
          <li>
            <%= link_to("/users/index")do %>
            <span class="fa fa-users"></span>
            <%end%>
          </li>
          <li>
            <%= link_to("/logout", {method: :post})do %>
              <span class="fa fa-sign-out"></span>
            <%end%>
          </li>
        <% else %>
          <li>
            <%= link_to("ThinkingOutLoudとは", "/about") %>
          </li>
          <li>
            <%= link_to("/signup")do %>
              <span class="fa fa-user-plus"></span>
            <%end%>
          </li>
          <li>
            <%= link_to("/login")do %>
              <span class="fa fa-sign-in"></span>
            <%end%>
          </li>
        <% end %>
      </ul>
    </header>
      <% if flash[:notice] %>
        <div class="flash">
          <%= flash[:notice] %>
        </div>
      <% end %>
    <%= yield %>
  </body>
</html>
